<div class="small-10 small-centered columns">
  <h2 class="text-center">Sign up</h2>

  <%= simple_form_for(User.new) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :first_name, label: 'First Name', required: true, autofocus: true %>
        <%= f.input :last_name, label: 'Last Name', required: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, label: 'Password Confirmation', required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign Up" %>
      </div>
  <% end %>

</div>
