<div class="small-3 columns">
  <%= image_tag current_user.image_url(:thumb) %><br>
  <h3> <%= current_user.first_name %> <%=current_user.last_name %> </h3><br>
  <h4>Personal Info</h4>
    <strong>Email:</strong><br> <%= current_user.email %><br>
    <% unless current_user.date_of_birth.blank? %>
      <strong>Date of Birth:</strong><br> <%= current_user.date_of_birth %>
    <% end %> <br>
    <% unless current_user.home_town.blank? %>
      <strong>Home Town:</strong><br> <%= current_user.home_town %>
    <% end %> <br>
    <% unless current_user.current_location.blank? %>
      <strong>Current Location:</strong><br> <%= current_user.current_location %>
    <% end %><br>
    <% unless current_user.about_me.blank? %>
      <strong>About Me:</strong><br> <%= current_user.about_me %>
    <% end %><br>
</div>

<div class="small-9 columns">
  <div class="small-5 columns">
    <h4>My Favorite Activities</h4>
    <ul class="panel callout">
      <% current_user.activities.each do |activity| %>
        <li><%= activity.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="small-7 columns">
    <h4> Events I'm Attending </h4>
    <% current_user.events.each do |event| %>
      <ul class="panel callout radius">
        <li>Event: <%= event.activity.name %></li>
        <li>Start Time: <%= event.start_time.to_s(:format_time) %></li>
        <li>Location: <%= event.location_name %></li>
        <li><%= link_to 'View Details', user_event_path(current_user, event) %></li>
      </ul>
    <% end %>
  </div>
</div>

