<div class="small-6 columns">
  <h1>Event Details</h1>
  <div class="panel callout">
    <p>
      <strong>Activity:</strong>
      <%= @event.activity.name %>
    </p>

    <p>
      <strong>Start Time:</strong>
      <%= @event.start_time.to_s(:format_time) %>
    </p>

    <p>
      <strong>End Time:</strong>
      <%= @event.end_time.to_s(:format_time) %>
    </p>
    <% unless @event.num_attendees_requested.nil? %>
      <p>
        <strong>Number of Attendees Desired:</strong>
        <%= @event.num_attendees_requested %>
      </p>
    <% end %>

    <% unless @event.location_name.blank? %>
      <p>
        <strong>Location:</strong>
        <%= @event.location_name %>
      </p>
    <% end %>

    <% unless @event.street_address.blank? %>
      <p>
        <strong>Address:</strong>
        <%= @event.street_address %>
      </p>
    <% end %>

    <p>
      <strong>City:</strong>
      <%= @event.city %>  <strong> State:</strong> <%= @event.state %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <% if @event.users && @event.users.first == current_user %>
      <%= link_to 'Edit Event Details', edit_user_event_path(current_user, @event) %><br><br>
      <%= link_to 'Delete', user_event_path(current_user, @event), method: :delete %>
    <% end %>
  </div>
</div>

<div class="small-6 columns">
<h3>Got something to say?</h3>
  <%= simple_form_for [@event, @comment] do |f| %>
    <div>
      <%= f.input :body, label: 'Comment' %>
      <%= f.submit "Post Comment", class: "button-round" %>
    </div>
  <% end %>
  <h5>Comments (<%=h @event.comments_count %>)</h5>
  <% @event.comments.each do |comment| %>
    <%= image_tag comment.user.image_url(:comment_mini) %> <%= comment.name %> says,<br><br>
    "<%= comment.body %>"<br><br>
  <% end %>
</div>
<br>
<br>















