<div class="small-7 columns">
  <h1>Event Details</h1><br>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel1a">Event Specs</a></dd>
    <dd><a href="#panel2a">See Who's Attending</a></dd>
  </dl>

  <div class="tabs-content"><br>
    <div class="content active" id="panel1a">
      <div class="panel">
        <p>
          <strong>Creator:</strong>
          <%= User.find(@event.creator).first_name %> <%= User.find(@event.creator).last_name %>
        </p>

        <p>
          <strong>Activity:</strong>
          <%= @event.activity.name %>
        </p>

        <p>
          <strong>Start Time:</strong>
          <%= @event.start_time.to_s(:format_time) %>
        </p>

        <p>
          <strong>End Time:</strong>
          <%= @event.end_time.to_s(:format_time) %>
        </p>
        <% unless @event.num_attendees_requested.nil? %>
          <p>
            <strong>Number of Attendees Desired:</strong>
            <%= @event.num_attendees_requested %>
          </p>
        <% end %>

        <p>
          <strong> Number RSVP'd: </strong>
          <%=h @event.user_events_count - 1 %>
        </p>

        <% unless @event.location_name.blank? %>
          <p>
            <strong>Location:</strong>
            <%= @event.location_name %>
          </p>
        <% end %>

        <% unless @event.street_address.blank? %>
          <p>
            <strong>Address:</strong>
            <%= @event.street_address %>
          </p>
        <% end %>

        <p>
          <strong>City:</strong>
          <%= @event.city %>  <strong> State:</strong> <%= @event.state %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @event.description %>
        </p>

        <% if @event.users.include?(current_user) && @event.creator != current_user.id %>
          <%= link_to "Cancel RSVP", cancel_user_event_path(current_user, @event), method: :delete %><br><br>
        <% elsif @event.users.length - 1 < @event.num_attendees_requested && @event.creator != current_user.id && !@event.users.include?(current_user) %>
          <%= link_to "RSVP to Event", rsvp_user_event_path(current_user, @event), method: :post %> <br><br>
        <% end %>

        <% if @event.users && @event.creator == current_user.id %>
          <%= link_to 'Edit Event Details', edit_user_event_path(current_user, @event) %><br><br>
          <%= link_to 'Delete Event', user_event_path(current_user, @event), method: :delete %><br><br>
        <% end %>
      </div>
    </div>

    <div class="content" id="panel2a">
      <div class="panel">
        <% @event.users.each do |user| %>
          <%= image_tag user.image_url(:rsvp_mini) %> <%=link_to "#{user.first_name} #{user.last_name}", user_path(user) %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="small-5 columns"><br><br><br><br><br>
<h3>Have something to say?</h3>
  <%= simple_form_for [@event, @comment] do |f| %>
    <div>
      <%= f.input :body, label: 'Comment' %>
      <%= f.submit "Post Comment", class: "button [tiny]" %>
    </div>
  <% end %>
  <h5>Comments (<%=h @event.comments_count %>)</h5>
  <% @event.comments.sort.reverse.each do |comment| %>
    <div class="panel callout radius">
      <%= image_tag comment.user.image_url(:comment_mini) %> <%= link_to "#{comment.name}", user_path(User.find(@event.creator))%> says,<br><br>
      "<%= comment.body %>"<br>
      <% if comment.user_id == current_user.id || comment.user_id == @event.creator %>
        <%= link_to "Delete Comment", uncomment_event_comment_path(@event, comment), method: :delete %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
<br>
<br>
