<%= link_to 'Edit Event', edit_user_event_path(current_user, @event) %>

<p>
  <strong>Activity:</strong>
  <%= @event.activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time.to_s(:format_time) %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time.to_s(:format_time) %>
</p>

<p>
  <strong>Number of Attendees Desired:</strong>
  <%= @event.num_attendees_requested %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>  <strong> State:</strong> <%= @event.state %>
</p>

<p>Comments</p>
<%= simple_form_for [@event, @comment] do |f| %>
  <%= f.input :name %>
  <%= f.input :body %>
  <%= f.submit "Post Comment", class: "button-round" %>
<% end %>

<% @event.comments.each do |comment| %>
  <%= comment.name %><br>
  <%= comment.body %><br>
<% end %>
















