<%= link_to 'Edit Event', edit_user_event_path %>

<p>
  <strong>Activity:</strong>
  <%= @event.activity.name %>
</p><br>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p><br>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time %>
</p><br>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time %>
</p><br>

<p>
  <strong>Number of Attendees Desired:</strong>
  <%= @event.num_attendees_requested %>
</p><br>

<p>
  <strong>Location:</strong>
  <%= @event.location_name %>
</p><br>

<p>
  <strong>Address:</strong>
  <%= @event.street_address %>
</p><br>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p><br>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p><br>
