<div class="small-12 small-centered columns">
  <h2 class="text-center"> What Interests You? </h2><br><br>
</div>


<%= simple_form_for(current_user,
  html: { class: "fav-activities" }) do |f| %>

  <ul class="small-block-grid-2 medium-block-grid-5">
    <% Activity.all.each do |activity| %>
      <li>
        <% current_user_has_activity = current_user.activities.include?(activity) %>
        <label class="checkbox button expand <%= 'checkbox-checked' if current_user_has_activity %>">
          <%= check_box_tag 'user[activity_ids][]', activity.id, current_user_has_activity, class: "hide" %>
          <i class="fa fa-square-o"></i>
          <i class="fa fa-check-square-o"></i>
          <%=activity.name %>
        </label>
      </li>
    <% end %>
  </ul>

  <%= f.button :submit, text: "Save Favorites", class: "save-fav" %>
<% end %>

<h3 class="submitactivity text-center"> Want to add to the list?</h3>

<h3 class="text-center" data-reveal-id="contactModal"><%= link_to "Let us know!", new_contact_path %></h3>

<div id="contactModal" class="reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <%= render 'contacts/contact_us' %>
</div>

