<!DOCTYPE html>
<html>
<head>
  <title>SimpleSocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <p> <strong> Hello, </strong> <%= current_user.first_name %> </p>
<% end %>


<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li> <%= link_to 'View Profile', user_path(current_user) %> </li>
      <li> <%= link_to 'Activities List', user_activities_path(current_user) %> </li>
      <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %> </li>
      <li><%= link_to 'Sign Up Here', new_user_registration_path %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    <% end %>
  </ul>

</nav>

<%= yield %>

</body>
</html>
